<div class="background">
    <app-nav-bar></app-nav-bar>
    <div class="body">
        <div class="container mt-4">
            <h2> Seleccione los servicios que desee adquirir:</h2>
            <div class="align">
                <select [(ngModel)]="this.idService" class="mt-4">
                    <option selected class="selected">Seleccione el Servicio</option>
                    <option *ngFor="let service of arrayServices" value="{{service._id}}">{{service.name}} | Q.{{service.price}}</option>
                </select>
            </div>
            <div class="align mt-4">
                <div class="options">
                    <button (click)="pushServices()" type="button" class="btn btn-primary me-2">Add</button>
                </div>
                <div class="options">
                    <button (click)="confirmateReservation()" type="button" class="btn btn-success me-2">Confirm</button>
                </div>
                <div class="options">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteReservation">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR UNA RESERVACION -->
<div class="modal fade" id="exampleModalDeleteReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container1">
            <div class="modal-content">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <div class="position-relative">
                            <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h4>Are you sure to delete this reservation?</h4>
                        <button (click)="cancelReservation()" class="buttonModalNewUser mb-3" data-bs-dismiss="modal">Yes</button>
                        <button style="background: #F8333C;" class="buttonModalNewUser" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>