<div class="background">
  <app-nav-bar></app-nav-bar>
  <section class="wrapper row">
    <div *ngFor="let room of this.arrayRooms" class="card me-3 mt-3 ms-3 mb-3">
          <div class="card text-white card-has-bg click-col" style="background-image: url('../../../assets/img/roberto-nickson-rEJxpBskj3Q-unsplash.jpg');">
            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"/>
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-meta mb-2">Busy Dates</h4>
                <h5 class="card-title mt-0">
                  <ul *ngFor="let date of room.dates">
                    <li>{{date.date.startDate | date:'short':'GMT'}} - {{date.date.finishDate | date:'short':'GMT'}}</li>
                  </ul>
                </h5>
              </div>
              <div class="card-footer">
                <div class="media text-center">
                  <img
                    class="mr-3 rounded-circle"
                    src="../../../assets/img/habitacion (1).png"
                    alt="Generic placeholder image"
                    style="max-width: 65px"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Room</h6>
                    <h5>{{room.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>
</div>
