<div class="background">
    <app-nav-bar></app-nav-bar>

    <div class="row">
        <section *ngFor="let reservation of arrayReservations" class="mx-auto my-5 mb-5" style="max-width: 23rem;">
            
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/reservacion.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <div class="carta align-items-center">

                <h4 *ngIf="this.role === 'CLIENT'" class="card-title font-weight-bold">{{reservation.idHotel.nameHotel}}</h4>
                <h4 class="card-title font-weight-bold">{{reservation.idClient.name}}  {{reservation.idClient.lastname}}</h4>
               
                <button (click)="generateBill(reservation._id)" *ngIf="this.role === 'MANAGER'" type="button" class="btn btn-success">Generate Bill</button>
                <button (click)="catchId(reservation._id)" *ngIf="this.role === 'CLIENT'" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteReservation">Cancel Reservation</button>
              </div>
              
              <hr>
              <h5 class="text-center"><a>{{reservation.room.name}} | Q. {{reservation.room.price}}</a></h5>
              <ul class="list-unstyled list-inline mb-0 text-center">
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"> </i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">{{reservation.startDate | date:'medium':'GMT'}} <br> ‍‍‍‍‍- <br> {{reservation.finishDate | date:'medium':'GMT'}}</p>
                </li>
                <br>
                <li class="list-inline-item">
                  <p class="text-muted">Days {{reservation.days}}</p>
                </li>
              </ul>

              <p class="mb-2"><strong>Services Reservation</strong></p>
              <p class="card-text">
                <ul *ngFor="let service of reservation.services">
                    <li>{{service.service.name}} | Q. {{service.service.price}}</li>
                </ul>
                
              
              <hr class="my-4" />
              <p class="lead"><strong>Total Reservation</strong></p>
              <ul class="list-unstyled list-inline d-flex justify-content-between">
                <li class="list-inline-item me-0">
                  <div class="chip me-0">Q. {{reservation.total}}</div>
                </li>
              </ul>
            </div>
          </div>
          
        </section>
      </div>
</div>
<!-- MODAL PARA ELIMINAR UNA RESERVACION -->
<div class="modal fade" id="exampleModalDeleteReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="container1">
          <div class="modal-content">
              <div class="contact-box">
                  <div class="left"></div>
                  <div class="right">
                      <div class="position-relative">
                          <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <h4>Are you sure to delete this reservation?</h4>
                      <button (click)="cancelReservation(this.idReservation)" class="buttonModalNewUser mb-3" data-bs-dismiss="modal">Yes</button>
                      <button style="background: #F8333C;" class="buttonModalNewUser" data-bs-dismiss="modal">No</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>